<h1>이화 게시판</h1>
<h2>포스팅하기</h2>
<%= form_tag posts_path do %>
    <%= text_field_tag :title, nil, placeholder: '제목' %><br>
    <%= text_area_tag :content, nil, placeholder: '내용' %><br>
    <%= submit_tag '작성' %>
<% end %>
<h2>게시글</h2>
<ul>
    <% @posts.each do |post| %>
        <li>
            <h3><%= post.title %></h3>
            <p><%= post.content %></p>
        </li>
    <% end %>
</ul>