<h1>이화 게시판</h1>

<h2>게시글</h2>
<ul>
    <% @posts.each do |post| %>
        <li>
            <h3><%= post.title %></h3>
            <h4>작성자: <%= post.try(:user).try(:name) %></h4>
            <p><%= post.try(:content).try(:html_safe) %></p>
            <h4>코멘트</h4>
            <%= form_tag comments_path do %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= text_area_tag :content, nil, placeholder: '내용' %>
                <%= submit_tag '작성' %>
            <% end %>
            <ul>
                <% post.comments.each do |comment| %>
                    <li><%= comment.try(:user).try(:name) %> : <%= comment.content %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ul>