<h2>포스팅하기</h2>
<%= simple_form_for @post do |f| %>
    <%= f.input :board_id, collection: Board.all, prompt: '게시판을 선택하세요' %>
    <%= f.input :title %>
    <%= f.cktext_area :content, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } %>
    <%= f.button :submit %>
<% end %>