<!DOCTYPE html>
<html>
  <head>
    <title>Ewhaboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% Board.all.each do |board| %>
      <li><%= link_to board.title, board_path(board) %></li>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to '정보수정', edit_user_registration_path %>
      <%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to '로그인', new_user_session_path %>
      <%= link_to '회원가입', new_user_registration_path %>
    <% end %>
    
    <%= flash[:alert] %>
    
    <%= yield %>
  </body>
</html>
